<%= form_for(secondary_genre) do |f| %>
  <% if secondary_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secondary_genre.errors.count, "error") %> prohibited this secondary_genre from being saved:</h2>

      <ul>
      <% secondary_genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
